@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --containersong-color: linear-gradient(225deg, #f2dc91 10%, #72532a  90%);
  --containersong-colorB: linear-gradient(225deg, #f2dc91 10%, #bdab71  90%);
  --main-color: linear-gradient(90deg, #220116 0%, #000000 100%);
  --footer-color: linear-gradient(180deg, #5a2547 0%, #883660 100%);
  --other-color: linear-gradient(90deg, #501c32 0%, #813651 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #000000;
}

.font-color-header {
  color: #4b355c;
}

.font-color-footer {
  background: var(--footer-color);
}

.bg-img-g {
  @apply bg-cover bg-center;
  background-image: url('https://res.cloudinary.com/dh01ngdjo/image/upload/v1703648013/wallpaperflare.com_wallpaper_u87gbp.jpg');
  background-attachment: fixed;
}


.home-widge-a {
   /* Establece el tama単o y otras propiedades del contenedor */
   display: flex;
   width: 100%;
   height: 700px; /* Altura de ejemplo */
   /* Establece la imagen de fondo */
   background-image: url('https://res.cloudinary.com/dh01ngdjo/image/upload/v1701983823/ff_knurxl.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
   background-size: cover; /* Ajusta el tama単o de la imagen para cubrir el contenedor */
   background-position: center; /* Posiciona la imagen en el centro del contenedor */
   background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.bg-color-a{
  background-color: #112D4E;
}
.bg-color-b{
  background-color: #DBE2EF;
}

.bg-color-golden{
  background: var(--containersong-color);
}


.bg-image-a {
  /* Establece el tama単o y otras propiedades del contenedor */
  /* Establece la imagen de fondo */
  background-image: url('https://res.cloudinary.com/dh01ngdjo/image/upload/v1701983823/ff_knurxl.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta el tama単o de la imagen para cubrir el contenedor */
  background-position: center; /* Posiciona la imagen en el centro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.grid-sv {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin: 0 auto;
}

.home-sv-a {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 20px;
  row-gap: 50px;
}



.home-sv-b {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  margin: 0 auto;
  gap: 20px;
  row-gap: 50px;
}

.movie-sv-a {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  gap: 20px;
  row-gap: 50px;
}

.max-w-header {
  max-width: 1600px;
  margin: 0 auto;
}
.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
}

.border {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 13px 20px;
}


.container-toggle{
  position: relative;
}

.content-toggle {
  position: absolute;
  top: 48px;
  opacity: none;
}

.hover-btn-a:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.img-services {
  object-fit: contain;
  width: 300px;
  height: 370px;
  background-color: #bdab71;
}